---
---

@import "{{ site.theme }}";

img[src$=".svg"], .bordered {
  border: 0.5px solid #cccccc;
}

table {
  tbody{
    $border-color: #ebebeb;
    $group-color: darken($border-color, 10);
    border-top: 2px solid $group-color;

    tr:first-child > td {
      padding-top: 1px;
    }
  }
}

.hidden {
  display: none;
}
